@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --text-primary: #000000;
  --text-secondary: #333333;
  /* --text-error: #ff5757; */
  --text-hover: #756157;
  --text-active: rgba(117, 97, 87, 0.3);

  --bg-content: #f2f2f2;
  --bg-primary: #ffffff;
  /* --bg-secondary: rgba(131, 179, 211, 0.12);
  --bg-secondary-alt: rgba(131, 179, 211, 0.2);
  --bg-hover: rgba(255, 255, 255, 0.6);
  --bg-active: rgba(255, 255, 255, 0.3); */

  --btn-primary: #756157;
  /* --btn-secondary: #82b3d3;
  --btn-select: #7db54f; */
  --btn-disabled: #e5e5e5;
  --btn-hover-primary: #615048;
  /* --btn-hover-secondary: #68a2ca;
  --btn-hover-select: #6c9e42; */

  /* --icon-primary: #000000;
  --icon-secondary: #83b3d3; */
  --icon-accent: #7db54f;
  /* --icon-hover: #756157;
  --icon-active: rgba(117, 97, 87, 0.3); */
  /* --icon-secondary-hover: #68a2ca;
  --icon-secondary-active: rgba(104, 162, 202, 0.3); */

  /* --form-text: #3f5e72;
  --form-border: #e5e5e5; */
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-content);
  color: var(--text-secondary);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  min-width: 1200px;
  margin-inline: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header {
  padding: 0 70px;
  background-color: var(--bg-primary);
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.site-logo-link {
  display: block;
  position: relative;
  width: 140px;
  margin-right: 10px;
  margin-bottom: -6px;
}

.site-logo-link:hover {
  opacity: 0.8;
}

.site-logo-link:focus {
  opacity: 0.8;
}

.site-logo-link:active {
  opacity: 0.5;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 716px;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-primary);
  text-decoration: none;
  text-align: center;
}

.navigation-link[aria-current="page"]::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #756257;
  left: 16px;
  right: 16px;
  bottom: 0;
}

.navigation-link:not([aria-current="page"]):hover {
  color: var(--text-hover)
}

.navigation-link:not([aria-current="page"]):focus {
  color: var(--text-hover)
}

.navigation-link:not([aria-current="page"]):active {
  color: var(--text-active);
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 176px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none
}

.navigation-user-item {
  position: relative;
}

.navigation-user-link {
  display: block;
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;
  box-sizing: border-box;
}

.navigation-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favorites-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  left: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 100vw;
  font-size: 10px;
  line-height: 10px;
  background-color: var(--icon-accent);
  color: var(--bg-primary);
  text-align: center;
}

.btn {
  display: inline-block;
  font-family: inherit;
  min-width: 160px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: var(--btn-primary);
  color: var(--bg-primary);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 8px 34px;
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--btn-hover-primary);
}

.btn:focus {
  background-color: var(--btn-hover-primary);
}

.btn:active {
  background-color: var(--btn-primary);
  color: rgba(255, 255, 255, 0.3);
}

.main {
  background-color: var(--bg-primary);
  flex-grow: 1;
}

.hero {
  padding: 51px 371px 82px;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-color: #8c99a6;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center;
  min-height: 485px;
  text-align: center;
}

.advantages {
  padding-top: 69px;
}

.content-wrapper {
  max-width: 720px;
  margin-inline: auto;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 20px;
}

.section-description {
  text-align: center;
  margin: 0 0 54px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-description {
  margin-bottom: 90px;
}

.card-item-wrapper {
  padding: 102px 85px;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list .card-item:nth-child(odd):not(.card-item-highlight) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-list .card-item:nth-child(2) {
  background-color: transparent;
}

.card-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0;
}

.card-item-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.card-item-highlight {
  flex-direction: row;
  grid-column: 1/-1;
  width: 100%;
  background-color: #82b3d3;
}

.card-item-reversed {
  flex-direction: row-reverse;
}

.card-item-highlight .card-item-title {
  color:#ffffff;
}

.card-item-highlight .card-item-description {
  color:#ffffff;
}


.services {
  padding-top: 64px;
}

.services-description {
  margin-bottom: 64px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.services-list .card-item {
  display: flex;
  flex-direction: column;
  padding: 81px 85px;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-index {
  background-image: url("../images/subscribe.jpg");
  background-color: #8c99a6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.section-title-highlight {
  color:#ffffff;
}

.section-description-highlight {
  color:#ffffff;
}

.search {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.btn-search {
  font-size: 20px;
  line-height: 36px;
  /* padding: 8px 50px;
  min-width: 376px; */
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
  padding: 0;
  border: none;
}

.subscribe-input::placeholder {
  font: inherit;
  color: inherit;
  opacity: 0.6;
}

.btn-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  margin: 0;
  padding: 0;
  border: none;
}

.footer {
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-link {
  color: #333333;
}

.logo-developer {
  color: #333333;
}

.catalog-page {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-color: #8c99a6;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.catalog-page-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin-right: 28px;
}

/* .filter {
  display: flex;
} */

.filter-form {
  display: flex;
  /* align-items: flex-start;
  gap: 70px; */
}

.filter-group {
  /* border: none; */
  margin: 0;
  padding: 0;
}

.filter-group-list{
  margin: 0;
  padding: 0;
  list-style-type: none
}

.filter-group-title {
  padding: 0;
  /* margin-bottom: 32px; */
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

/* .filter-group-item{
  margin-bottom: 16px;
} */

.filter-group-price{
  border: none;
}

.filter-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-price-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  color: #000000;
}

.filter-price-label {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.btn-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btn-filter-apply {
  background-color: #82b3d3;
}

.btn-filter-reset {
  background-color: transparent;
  border: none;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-wrapper {
  display: flex;
  gap: 200px;
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 0 80px;
  padding: 0;
  list-style-type: none;
}
.catalog-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: inherit;
}

.catalog-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 16px 20px;
  padding: 20px;
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-img-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.catalog-card-title-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.catalog-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.catalog-card-hotel {
  margin: 0;
}

.catalog-card-price {
  margin: 0;
  justify-self: end;
}

.catalog-card-rating {
  margin: 0;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-view {
  color: #333333;
}

.btn-fav {
  background-color: #82b3d3;
}

.btn-fav.active {
  background-color: #7db54f;
}

.pagination {
  display: flex;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style-type: none

}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  background-color: #82b3d3;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-skipped {
  display: inline-block;
  padding: 20px 15px;
  background-color: #ffffff;
  color: #000000;
}

.subscribe-btn {
  background-color: #82b3d3;
}

.phone-wrapper {
  font-style: inherit;
}
